{{ ansible_managed | comment(decoration='; ') }}

include=/etc/php/{{ php_version }}/fpm/pool.d/*.conf

[global]
pid = /run/php/php{{ php_version }}-fpm.pid
error_log = /var/log/php{{ php_version }}-fpm.log
